/NeuNet
/NeuNetProd
/Lasso_prod.csv
/Lasso_prod.joblib
/ElasticNet_prod.csv
/ElasticNet_prod.joblib
/LinearRegression_prod.csv
/LinearRegression_prod.joblib
/ExtraTree.joblib
/DecisionTree.joblib
/RandomForest.joblib
/RandomForest_prod.joblib
/DecisionTree_prod.joblib
/ExtraTree_prod.joblib
/xgboost.joblib
/xgboost_prod.joblib
/catboost.joblib
/catboost_prod.joblib
